
*{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.red{
    color: rgb(253, 72, 72);
}

a{
    text-decoration: none;
}

body{
    background-color: #212428;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    flex-wrap: wrap;
    align-self: center;
}





.topleft{
    display: flex;
    font-size: 2rem;
    color: white;
    align-items: center;
    gap: 10px;

}

.nav div{
    display: flex;
    align-items: center;
}

.homme1{
    height: 4rem;
    width: fit-content;
    padding: 1rem;
    border: solid 3px gray;
    border-radius: 100%;
}

.topright div{
    gap: 3rem;
    margin: 2rem;
    flex-wrap: wrap;
}

.topright .liens a{
    color: #C4CFDE;
    font-size: 15px;
}

.cart{
    background: #1e2024,;
    border-radius: 50%;
    padding: 12px 15px 12px 12px;
}

.cart img{
    width: fit-content;
    height: 4vh;
}

.shop a{
    box-shadow: 5px 5px 19px rgb(57, 56, 56)
}

.buy{
    color: red;
    padding: 15px 35px;
    background-color: #1e2024,;
    
}

.centre{
    display: flex;
    margin: 0 15%;
    align-items: center;
    
    
}

.centre .gauche h1{
    color: white;
    font-size: 4rem;
}

.centre .gauche p{
    color: #b5bac2;
}

.espace{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    
}

.espace img{
    background-color: #1e2024;
    padding: 1.5rem;
    width: 2rem;
    box-shadow: 5px 5px 19px #262a2e
}

.reseaux{
    width: fit-content;
}


.espace .reseaux a{
    margin: 0 10px 0 0;
}



.espace .skills a{
    margin: 0 10px 0 0;
    
}

.droite{
    margin: 0 0 0 20%
}
.droite img{
    width: 100%;
    background-color: #212428;
    box-shadow: 10px 10px 10px #262a2e,-10px -10px 10px #262a2e
}


@media screen and (max-width: 1000px) {
    .nav{
        margin: 0%;
    }

    .centre{
        margin: 10% 0%;
    }

    .gauche{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .centre .droite{
        display: none;
        
    }
}