
*{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.red{
    color: rgb(253, 72, 72);
}

a{
    text-decoration: none;
}

body{
    background-color: #212428;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    flex-wrap: wrap;
    align-self: center;
}





.topleft{
    display: flex;
    font-size: 2rem;
    color: white;
    align-items: center;
    gap: 10px;

}

.nav div{
    display: flex;
    align-items: center;
}

.homme1{
    height: 4rem;
    width: fit-content;
    padding: 1rem;
    border: solid 3px gray;
    border-radius: 100%;
}

.topright div{
    gap: 3rem;
    margin: 2rem;
    flex-wrap: wrap;
}

.topright .liens a{
    color: #C4CFDE;
    font-size: 15px;
}

.cart{
    background: #1e2024,;
    border-radius: 100%;
    padding: 1rem 1.2rem;
}

.cart img{
    width: fit-content;
    height: 4vh;
}

.shop a{
    box-shadow: 5px 5px 19px rgb(57, 56, 56)
}

.buy{
    color: red;
    padding: 15px 35px;
    background-color: #1e2024,;
    
}

.centre{
    display: flex;
    margin: 0 15%;
    align-items: center;
    
    
    
}

.centre .gauche h1{
    color: white;
    font-size: 4rem;
}

.centre .gauche p{
    color: #b5bac2;
}

.espace{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    
}

.espace img{
    background-color: #1e2024;
    padding: 1.5rem;
    width: 2rem;
    box-shadow: 5px 5px 19px #262a2e
}

.reseaux{
    width: fit-content;
}


.espace .reseaux a{
    margin: 0 10px 0 0;
}



.espace .skills a{
    margin: 0 10px 0 0;
    
}

.droite{
    margin: 0 0 0 20%
}
.droite img{
    width: 100%;
    background-color: #212428;
    box-shadow: 2px 5px 10px black,-10px -10px 10px #262a2e;
}


.what{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0%;
}

.what h2{
    color: #C4CFDE;
    font-size: 4rem;
}

.haut{
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 3rem;
    color: #C4CFDE;
    flex-wrap: wrap;
}

.haut div{
    display: flex;
    flex-direction: column;
    

}

.haut img{
    height: 3rem;
    width: 3rem;
    margin-bottom: 2rem;
}
.titre{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.haut p{
    font-weight: 400;
}

.ha1,.ha2,.ha3{
    flex-wrap: wrap;
    height: 20rem;
    flex-wrap: wrap;
    width: 21rem;
    padding: 2rem;
    box-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e;
    justify-content: center;
}


.bas{
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 3rem;
    color: #C4CFDE;
    flex-wrap: wrap;
}

.bas div{
    display: flex;
    flex-direction: column;
    

}

.bas img{
    height: 3rem;
    width: 3rem;
    margin-bottom: 2rem;
}
.titre{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.bas p{
    font-weight: 400;
}

.ba1,.ba2,.ba3{
    flex-wrap: wrap;
    height: 20rem;
    flex-wrap: wrap;
    width: 21rem;
    padding: 2rem;
    box-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e;
    justify-content: center;
}




.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carre{
    display: flex;
    flex-direction: column;

}

.carre .droit{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.carre .droit .grid{
     flex-wrap: wrap;
    height: 20rem;
    flex-wrap: wrap;
    width: 21rem;
    padding: 2rem;
    box-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e;
    justify-content: center;
    margin-top: 3rem;
}

.grid p{
     margin-top: 1rem;
     margin-bottom: 1rem;
}
.grid a{
    color: #C4CFDE;
   
}

.visit{
    margin-top: 8rem;
    
    text-align: center;
}

.visit h3{
    color: #C4CFDE;
    font-size: 5rem;
}

.page div{
    flex-wrap: wrap;
}

.bottom{
    margin-bottom: 10rem;
}









@media screen and (max-width: 1000px) {
    .nav{
        margin: 0%;
    }

    .centre{
        margin: 10% 0%;
    }

    .gauche{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5rem;
    }

    .centre .droite{
        display: none;
        
    }

   
    

    .grid{
        text-align: center;
    }

    .grid img{
        width: fit-content;
    }
    

    .droit{
        justify-content: center;
    }
}